BOT_TOKEN=

XUI_URL=https://panel.jewtranstelecom.online/
XUI_USERNAME=
XUI_PASSWORD=

SUB_URL=https://sub.jewtranstelecom.online/
XUI_INBOUND_ID=1

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bot_db

ADMIN_ID=0

SUPPORT_USERNAME=leeengery

PLATEGA_SHOP_ID=
PLATEGA_SECRET_KEY=
